.root {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.title {
  text-align: left;
  color: #F2F2F3;
} 

.tabs {
display: flex;
}

.ingredients {
  flex: 1;
  overflow-y: auto;
}

.ingredients::-webkit-scrollbar {
	width: 8px;
  height: 492px;
}

.ingredients::-webkit-scrollbar-track {
	background: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
	background: #8585AD;
}